@import "tailwindcss";

.napredniGradient {
  /* background: hsla(164, 38%, 18%, 1);
  background: linear-gradient(180deg, hsla(164, 38%, 18%, 1) 0%, hsla(158, 77%, 77%, 1) 100%); */
  background: url("/imgs/gradients/mesh-gradient.png") no-repeat center center;
  background-size: cover;
}


@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.9s ease;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
  }
}

.infinite-scroll-container {
  overflow: hidden;
  width: 100%;
}
.infinite-scroll-track {
  display: flex;
  gap: 1.5rem;
  width: max-content;
}
@media (max-width: 640px) {
  .infinite-scroll-track .slider-item {
    min-width: 100vw !important; /* Full screen za mob / jedna slika na ekranu */
    max-width: 100vw !important;
    height: 13rem;
  }
}


@keyframes fadein {
  0% { opacity: 0; transform: translateY(15px);}
  100% { opacity: 1; transform: translateY(0);}
}
.animate-fadein {
  animation: fadein 0.8s cubic-bezier(0.4, 0.0, 0.2, 1) both;
}

@keyframes fadeup {
  0% { opacity: 0; transform: translateY(40px);}
  100% { opacity: 1; transform: translateY(0);}
}
.animate-fadeup {
  animation: fadeup 1s cubic-bezier(0.4, 0.0, 0.2, 1) both;
}

@keyframes pop {
  0% { opacity: 0; transform: scale(0.8);}
  100% { opacity: 1; transform: scale(1);}
}
.animate-pop {
  animation: pop 0.65s cubic-bezier(0.3, 1.3, 0.2, 1) both;
}

/* Za spin-slow */
@keyframes spinSlow {
  100% { transform: rotate(360deg);}
}
.animate-spin-slow {
  animation: spinSlow 7s linear infinite;
}

@keyframes slideinLeft { 0% {opacity: 0;transform: translateX(-90px);} 100%{opacity:1;transform:translateX(0);} }
.animate-slidein-left { animation: slideinLeft 1.2s cubic-bezier(0.4,0,0.2,1) both;}

@keyframes slideinRight { 0% {opacity: 0;transform: translateX(90px);} 100%{opacity:1;transform:translateX(0);} }
.animate-slidein-right { animation: slideinRight 1.2s cubic-bezier(0.4,0,0.2,1) both;}
